/* Add CSS here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .8rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #d1efeb;
    --clr-bg-pri: #121637;
    --clr-bg-sec: #b4d4fb;
    --clr-acc-main: #49d396;
    --clr-acc-pri: #61bb60;
    --clr-acc-sec:  #3676c4;
    --clr-acc-thi: #2e67a9;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #67696a;
    --clr-text-pri: #01444b;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {font-size: var(--h1-fs);}
h2 {font-size: var(--h2-fs);}
h3 {font-size: var(--h3-fs);}
h4 {font-size: var(--h4-fs);}

p, a, li {font-size: var(--p-fs);}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/
.card:first-of-type .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0 0;
    z-index: 2;
}

.btn {
    display: inline-block;
    background: linear-gradient(to right, var(--clr-acc-main), var(--clr-acc-pri));
    color: #fff;
    width: 200px;
    padding: .8rem 1.5rem;
    margin-top: .5rem;
    font-weight: 600;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}

.btn:last-of-type {
    background: transparent;
    color: var(--clr-acc-pri);
}

.btn:first-of-type {
    transition: .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn:first-of-type::after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--clr-text-pri);
    position: absolute;
    top: 0;
    left: 100%;
    transition: .2s;
    z-index: -1;
}
  
.btn:first-of-type:hover:after {
    left: 0;
}

.btn:last-of-type:hover {
    color: var(--clr-text-pri);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    position: relative;
    animation: scaleUp 1s ease-in-out;
    transform-origin: center center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card {
    position: absolute;
    width: 300px;
    left: -120%;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    transition: .3s ease-in-out;
}

.card:first-child {
    left: -120%;
}

.card:last-child {
    left: 120%;
}

.card.active {
    width: 100%;
    left: 0;
}

.card > img {
    height: 100%;
    position: absolute;
    right: -5.5rem;
    bottom: -7rem;
    mask-image: linear-gradient(-90deg, #000, rgba(0,0,0,0) 80%);
}

.fa-bars {
    cursor: pointer;
    transition: .2s;
}

.fa-bars:hover {
    color: var(--clr-text-pri);
    scale: 1.2;
}

h1 {
    align-self: flex-start;
    color: var(--clr-text-pri);
}

header {
    position: relative;
}

header h4 {
    text-align: center;
    margin: 0 auto;
}

header i {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

h5 {
    text-align: center;
    font-size: 1rem;
    margin: .5rem 0 1rem;
}

.last i, .next i, .last span, .next span {
    color: var(--clr-acc-main);
}

.last i, .next i {
    width: 1rem;
}

.last p, .next p {
    margin-left: 1.3rem;
}

.activity i {
    color: var(--clr-acc-main);
}
.schedule {
    display: flex;
    justify-content: space-between;
}

.imgs {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 1rem 0 1rem -3rem
}

.imgs img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: .5rem;
}

.imgs img:nth-child(1), .imgs img:nth-child(3) {
    height: 100px;
    width: 100px;
}

.activity {
    display: flex;
    margin-left: 1.3rem;
    margin-top: 2rem;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    gap: .3rem;
    cursor: pointer;
}

.item:last-child {
    margin-left: 4.5rem;
}
